#pid-raffles> div.container {
   display: none !important;
}
#pid-raffles> div.container.favorites-raffles-container {
   display: block !important;
}
.load {
   text-align: center;
   cursor: pointer;
}
.remove {
   cursor: pointer;
}
