html, body {
   margin: 0px;
   background: #151515;
   width: 410px;
}
h3 {
   text-align: center;
}
a {
   text-decoration: inherit;
   color: #6791bb;
   text-align: center;
   width: 100%;
   font-weight: bold;
   cursor: pointer;
}
a:hover {
   color: #cacaca;
}
#content {
   color: #888;
   display: inline-table;
   padding: 5px;
}
.block {
   background: #333;
   margin: auto;
   display: inline-block;
   border: 2px solid #151515;
   padding: 0 4px;
   width: calc(100% - 12px);
}
.box {
   background: #111;
   margin: 4px 0;
   padding: 4px 5px;
}
.box.formcheck input[type="checkbox"] {
   float: right;
}
.box.formtxt {
   display: flex;
}
.box.formtxt input[type="text"] {
   width: calc(100% - 30px);
   margin-right: 4px;
   background: #222;
   border: 1px solid #444;
   padding: 1px 4px;
   color: #eee;
}
.box.formtxt input[type="text"].curr {
   border-color: green;
}
.box.formtxt input[type="submit"] {
   width: 35px;
   border: 1px solid #444;
   background: #222;
   color: #aaa;
   transition: 0.2s;
   cursor: pointer;
}
.box.formtxt input[type="submit"]:hover {
   background: #aaa;
   color: #222;
}
.box.formbtn {
   display: flex;
}
.box.formbtn h4 {
   width: 55%;
   padding: 0;
   margin: 0;
   margin-right: 5px;
}
.box.formbtn input[type="button"] {
   width: 25%;
   margin: 2px;
}
.box.formbtn input[type="button"].curr {
   background: green;
}
