@font-face {
   font-family: "Open Sans";
   src: url("../font/OpenSans-Regular.woff2") format('woff2');
}
body {
   min-width: 580px;
   font-family: "Open Sans";
}
.h3, h3 {
   text-align: center;
   margin: 0 0 20px 0px;
}

/* Selection group */

#templates .box {
   border: 1px solid #cdcdcd;
   border-radius: 5px;
   padding: 5px;
   transition: 0.4s;
   cursor: pointer;
   margin-bottom: 12px;
   transition: 0.4s ease-out;
}
#templates .box:hover {
   background: #fff;
   border-radius: 1px;
   border-color: #aaa;
}
#templates .active {
   border-color: #000 !important;
   border-radius: 1px;
}
#templates h4 {
   margin: 6px;
   text-indent: 4px;
   position: absolute;
}
.color-group {
   text-align: right;
}
.color-group .color {
   height: 30px;
   width: 30px;
   border: 1px solid #bababa;
   border-radius: 5px;
}

/* Color separation */

.color-group .color:nth-child(2), .color-group .color:nth-child(5) {
   margin-right: 5px;
}

/* Templates */

#TemplateManageURL {
   width: 100%;
}
