.pull-right.rev-bot-name {
   width: 100%;
   font-size: 15px;
   line-height: 14px;
}

div > div > div.well-padding {
   position: relative;
}

.bpLink {
   height: 50px;
   width: 75px;
   position: absolute;
   right: 0;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.bank-selector-box .bpLink {
   height: 25px;
   width: 40px;
   top: -10px;
}

input[placeholder="min"] {
   margin-right: 5px;
}

.auction-items > div > a.bpLink,
.panel-raffle-items > div > a.bpLink {
   position: absolute;
   background-size: 100%;
   background-repeat: no-repeat;
   top: inherit;
   height: 20px;
   width: 34px;
   bottom: -11px;
   right: -8px;
}
