.btn-saveConf {
   float: right;
   cursor: pointer;
}

#Content {
   min-height: 30px;
   display: none;
   width: 100%;
   text-align: center;
   position: absolute;
   z-index: 5;
   background: #f7f9fa;
   left: 0;
   border: 1px solid #ddd;
   border-radius: 5px;
   margin-top: 5px;
   padding: 10px;
   word-break: break-all;
}

#rafflemessage {
   height: 200px;
}

textarea {
   text-align: center;
}

.formattingHelp {
   width: 100px;
   float: right;
}

.formattingHelp i {
   margin: 5px;
   cursor: pointer;
   transition: 0.1s ease-out;
}

.formattingHelp i:hover {
   transform: scale(1.25);
}

.formattingHelp i.fa-ban:hover {
   transform: scale(1);
   border-bottom: 1px solid;
}

.create-raffle-inv {
   overflow: auto;
   max-height: 750px;
   max-width: 920px !important;
}

#chars {
   display: inline-table;
}
/* Saved Raffle section */
#appendHere .form-group {
   cursor: pointer;
   transition: 0.1s ease-out;
   position: relative;
}

#appendHere .form-group .form-control {
   padding-right: 50px;
}

#appendHere .form-group:hover .form-control {
   background: #efefef;
}

#appendHere .form-group .btnDel {
   position: absolute;
   top: 6px;
   right: 12px;
}

#appendHere .entries {
   margin-left: 8px;
}

#appendHere .form-control-static .fa,
#appendHere .pull-right span {
   margin-right: 8px;
}

.NewModal {
   display: block !important;
   background: rgba(25, 25, 25, 0.4);
   padding-right: 12px;
}
@media (max-width: 991px) {
   .formattingHelp {
      width: auto;
   }
}
