/* Display addon version */
footer {
   position: relative;
}

footer:after {
   content: "ScrapTF-Styliser v1.2.8";
   position: absolute;
   bottom: 0;
   left: 0;
   font-size: 12px;
   color: #777;
   width: 100%;
   text-align: center;
}
/* ScrapTf UI bugs */
.container-margins, .panel-raffle {
   overflow: inherit!important;
}

button[data-infav="true"] {
   color: #FFC877 !important;
}
/* Better comment section */
.auction-well .raffle-commenters,
.raffle-well .raffle-commenters {
   max-height: 600px !important;
}

.raffle-commenters .comment-container {
   margin: auto;
   padding: 4px 10px;
   border-left: 2px solid transparent;
   border-top: 1px solid #efefef;
   padding-top: 10px;
   padding-bottom: 0;
}

.raffle-commenters .comment-container:nth-child(1) {
   border-top: none;
}

.raffle-commenters .linked {
   border-left-color: #16a085;
}

.raffle-commenters .currUser {
   border-left-color: #34495e;
}

.comment-content {
   padding: 0 5px 0 55px;
   line-height: 20px;
}
