button[data-infav="true"] {
   color: #FFC877 !important;
}

/* Better comment section */

.raffle-well .raffle-commenters {
   max-height: 600px !important;
}
.raffle-commenters .comment-container {
   margin: auto;
   padding: 4px 10px;
   border-left: 2px solid transparent;
   border-top: 1px solid #efefef;
   padding-top: 10px;
   padding-bottom: 0px;
}
.raffle-commenters .comment-container:nth-child(1) {
   border-top: none;
}
.raffle-commenters .linked {
   border-left-color: #16a085;
}
.raffle-commenters .currUser {
   border-left-color: #34495e;
}
.comment-content {
   padding: 0px 5px 0 55px;
   line-height: 20px;
}
