/* Global */
:root {
   --hover: brightness(1.2) !important;
}
body {
   color: var(--text) !important;
}
* {
   font-family: var(--globalFont);
}
h1,
h1 *,
h2,
h2 *,
h3,
h3 * {
   font-family: var(--titleFont) !important;
}
a:active:not(.username),
a:focus:not(.username),
a:hover:not(.username),
a:not(.username) {
   color: var(--link) !important;
}
a:active,
a:focus,
a:hover {
   -webkit-filter: var(--hover) !important;
   filter: var(--hover) !important;
}
/* Buttons input & labels */
.form-inline .form-control {
   color: var(--text) !important;
   background-color: var(--back1) !important;
}
.btn,
.btn a,
.rev-banking-background a,
a.btn,
a.btn:active,
a.btn:focus,
a.btn:hover,
b.label {
   color: var(--btntext) !important;
   border-radius: var(--radius) !important;
}
.btn-success,
.nav-pills > li > a {
   color: var(--btntext) !important;
   background-color: var(--btn4) !important;
}
.btn:active,
.btn:focus,
.btn:hover {
   -webkit-filter: var(--hover) !important;
   filter: var(--hover) !important;
   transition: 0.4s ease-out;
}
.nav-pills > li > a:focus,
.nav-pills > li > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.open > a,
.nav-pills > li.open > a:hover {
   background-color: var(--btn4) !important;
   -webkit-filter: var(--hover) !important;
   filter: var(--hover) !important;
}
.btn.btn-danger,
.btn.btn-danger.active,
.btn.btn-danger:active,
.open > .dropdown-toggle.btn.btn-danger,
.progress-bar-danger {
   background-color: var(--btn1) !important;
   border-color: var(--btn1) !important;
}
.btn.btn-default,
.btn.btn-default.active,
.btn.btn-default:active,
.btn.btn-default:hover,
.btn.btn-info,
.btn.btn-info.active,
.btn.btn-info:active,
.open > .dropdown-toggle.btn.btn-default,
.open > .dropdown-toggle.btn.btn-info,
.progress-bar-info {
   background-color: var(--btn2) !important;
   border-color: var(--btn2) !important;
}
.btn.btn-inverse,
.btn.btn-inverse.active,
.btn.btn-inverse:active,
.open > .dropdown-toggle.btn.btn-inverse {
   background-color: var(--btn3) !important;
   border-color: var(--btn3) !important;
}
.btn-primary.active,
.btn-primary:active,
.btn.btn-primary,
.open > .dropdown-toggle.btn-primary {
   background-color: var(--btn4) !important;
   border-color: var(--btn4) !important;
}
/* Select input */
.select-default .select2-choice,
.select-default .select2-choice.hover,
.select-default .select2-choice:active,
.select-default .select2-choice:focus,
.select-default .select2-choice:hover,
.select2-drop .select2-result-selectable .select2-result-label:active,
.select2-drop .select2-result-selectable .select2-result-label:focus,
.select2-drop .select2-result-selectable .select2-result-label:hover {
   background-color: var(--btn4) !important;
   color: var(--btntext) !important;
}
.dropdown-menu > li > a,
.select2-drop .select2-result-selectable .select2-result-label,
.yamm-content li > a {
   color: var(--text) !important;
}
.select-primary .select2-choice,
.select-primary .select2-choice.hover,
.select-primary .select2-choice:active,
.select-primary .select2-choice:focus,
.select-primary .select2-choice:hover,
.select2-drop .select2-highlighted > .select2-result-label {
   background-color: var(--btn4) !important;
   color: var(--btntext) !important;
}
.select2-chosen {
   color: var(--btntext) !important;
}
nav .iconic:before {
   color: var(--text) !important;
   opacity: 0.2;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
   background-color: var(--btn4) !important;
   color: var(--btntext) !important;
}
/* Checkbox & switch btn */
.checkbox input[type="checkbox"].custom-checkbox:checked+.icons .icon-checked,
.checkbox input[type="radio"].custom-radio:checked+.icons .icon-checked,
.radio input[type="checkbox"].custom-checkbox:checked+.icons .icon-checked,
.radio input[type="radio"].custom-radio:checked+.icons .icon-checked {
   background-color: var(--btn4) !important;
}
.inv-switcher a,
.item-group-switcher a,
.search-switcher a {
   background-color: var(--btn4) !important;
   color: var(--btntext) !important;
}
.inv-switcher .active,
.search-switcher .active,
.toggle-chat-button {
   background-color: var(--btn2) !important;
   color: var(--btntext) !important;
}
/* comments mention & page navigation */
a.user-mention,
a.user-mention:focus,
a.user-mention:hover,
a.user-mention:visited {
   background-color: var(--btn4) !important;
   border-color: var(--btn4) !important;
   color: var(--btntext) !important;
}
.raffle-commenters .currUser {
   border-left-color: var(--btn2) !important;
}
.raffle-commenters .linked {
   border-left-color: var(--btn4) !important;
}
.dataTables_paginate > ul,
.pagination > ul {
   background: var(--back2) !important;
}
.dataTables_paginate li.active > a,
.dataTables_paginate li.active > span,
.pagination li.active > a,
.pagination li.active > span {
   background-color: var(--btn4) !important;
   border-color: var(--btn4) !important;
}
.dataTables_paginate li > a,
.dataTables_paginate li > span,
.pagination li > a,
.pagination li > span {
   border-color: var(--border) !important;
}
.dataTables_paginate li > a:focus,
.dataTables_paginate li > a:hover,
.dataTables_paginate li > span:focus,
.dataTables_paginate li > span:hover,
.pagination li > a:focus,
.pagination li > a:hover,
.pagination li > span:focus,
.pagination li > span:hover {
   background-color: var(--btn4) !important;
   border-color: var(--btn4) !important;
}
/* Infos box */
.tooltip-inner {
   background-color: var(--btn3) !important;
}
.tooltip.top .tooltip-arrow {
   border-top-color: var(--btn3) !important;
}
.tooltip.bottom .tooltip-arrow {
   border-bottom-color: var(--btn3) !important;
}
.tooltip.left .tooltip-arrow {
   border-left-color: var(--btn3) !important;
}
.tooltip.right .tooltip-arrow {
   border-right-color: var(--btn3) !important;
}
.bg-info {
   background-color: transparent !important;
}
/* Main page & navbar */
.welcome {
   overflow: hidden;
   position: relative;
}
.welcome::before {
   content: "";
   background: var(--back1) !important;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   opacity: 0.45;
}
.welcome-button {
   border: 2px solid var(--text) !important;
   color: var(--text) !important;
}
.bank-selector-box a:active,
.bank-selector-box a:focus,
.bank-selector-box a:hover {
   filter: none;
   -webkit-filter: none;
}
.welcome,
.welcome-status a {
   color: var(--text) !important;
}
.welcome-status a:focus,
.welcome-status a:hover {
   color: var(--btn4) !important;
}
.flat-slate,
.navbar-default {
   background-color: var(--back1) !important;
}
.dropdown-menu,
.select2-drop {
   background-color: var(--back2) !important;
}
.navbar .nav ul a:hover,
.navbar-nav > li > a:not(.nav-userdropdown):focus,
.navbar-nav > li > a:not(.nav-userdropdown):hover {
   color: var(--btntext) !important;
   background-color: var(--btn4) !important;
}
.navbar-default .navbar-nav > li > a {
   color: var(--text) !important;
}
/* Logo */
.svg {
   width: 171px;
   padding: 8px 12px;
   display: block;
   transition: filter, -webkit-filter 0.4s ease-out;
}
.svg:hover {
   -webkit-filter: var(--hover) !important;
   filter: var(--hover) !important;
}
@media (max-width: 991px) {
   .small-logo {
      display: none;
   }
   nav > div.container {
      width: 100% !important;
   }
}
@media (max-width: 910px) {
   .svg {
      width: 140px;
      padding: 10px 2px 0;
   }
   #navbar-collapse-01 > ul:nth-child(1) > li:nth-child(3) {
      display: none;
   }
}
/* Raffle page, ( panel, panel-heading etc) */
#raffles-list .panel-left {
   background-color: #2A2826;
   border-right: 1px solid var(--border) !important;
}
.breadcrumb li,
.breadcrumb li::after {
   color: var(--text) !important;
}
.form-control,
.panel,
.panel-info > .panel-heading,
.well {
   color: var(--text) !important;
   background-color: var(--back1) !important;
   border-color: var(--border) !important;
}
.panel-info > .panel-heading,
.panel-raffle,
.panel-raffle .panel-heading {
   color: var(--btn2) !important;
   background-color: var(--back2) !important;
   border-color: var(--border) !important;
}
.panel-heading h3 {
   color: var(--btn2) !important;
}
.breadcrumb,
.raffle-box-row,
.raffle-info-col,
.raffle-opts-row {
   color: var(--text) !important;
   background-color: var(--back2) !important;
   border-color: var(--border) !important;
}
.raffle-message:not(.raffle-entered-msg) {
   opacity: 0;
   transition: opacity 0.4s ease-out;
}
.raffle-message:not(.puzzle) {
   color: var(--text) !important;
   background-color: var(--back2) !important;
   border-color: var(--border) !important;
}
.raffle-message.puzzle {
   color: #2A2826 !important;
   background-color: #F7F9FA !important;
   border-color: var(--border) !important;
}
.raffle-entered-msg {
   background-color: var(--enterMsgColor) !important;
}
.input-group-btn .btn,
.raffle-box-row,
.raffle-commenters,
.raffle-index-list,
.raffle-info-col,
.raffle-opts-row .col-xs-7 {
   border-color: var(--border) !important;
}
.raffle-commenters .comment-container {
   border-top-color: var(--border) !important;
}
/* Create Raffle */
.btn-saveConf {
   font-family: FontAwesome !important;
}
/* Profile */
.profile-about {
   border-color: var(--border) !important;
   color: #d0d0d0;
}
.profile-stat,
.profile-stat:not(:last-child) {
   border-color: var(--border) !important;
   color: #919191;
}
/* help */
.help-bg,
.tab-content {
   background-color: var(--back1) !important;
   border-color: var(--border) !important;
}
.label-info,
.label-info[href] {
   background-color: var(--btn2) !important;
   color: var(--btntext) !important;
}
/* Avatars */
.avatar-container img {
   border-radius: var(--avatarBorders) !important;
}
.avatar-hat {
   background-color: transparent !important;
}
/* Modal */
.modal-content,
.modal-header {
   background-color: var(--back1) !important;
   border-color: var(--border) !important;
}
.modal-footer {
   background-color: var(--back2) !important;
}
.modal-header .close {
   color: var(--text) !important;
}
.fullpage-well {
   background: var(--back1) !important;
}
#Content,
.flat-dialog-inside {
   background: var(--back2) !important;
   color: var(--text) !important;
   border-color: var(--border) !important;
}
/* Table */
.table > tbody > tr > td,
.table th,
.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
   border-color: var(--border) !important;
}
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > th {
   color: var(--btn3);
}
td div div {
   color: var(--btntext) !important;
   background-color: var(--btn4) !important;
}
td div div div:first-child {
   background-color: var(--btn1) !important;
}
td div div div:last-child {
   background-color: var(--btn4) !important;
}
/* Help center & About */
.jumbotron {
   background-color: transparent !important;
}
.panel-danger > .panel-heading,
.panel-success > .panel-heading {
   background-color: var(--back2) !important;
   border-color: var(--border) !important;
}
.panel-success > .panel-heading {
   color: var(--btn4) !important;
}
.panel-danger > .panel-heading {
   color: var(--btn1) !important;
}
.panel-info > .panel-heading+.panel-collapse > .panel-body {
   border-color: var(--border) !important;
}
.user-helper {
   background: var(--back2);
}
.about-inside * {
   color: #ddd !important;
}
