/* Global */

:root {
   --hover: brightness(1.2) !important;
}
body {
   color: var(--text) !important;
}
* {
   font-family: var(--globalFont);
}
h1, h2, h3, h1 *, h2 *, h3 * {
   font-family: var(--titleFont) !important;
}
a:not(.username), a:hover:not(.username), a:active:not(.username), a:focus:not(.username) {
   color: var(--link) !important;
}
a:hover, a:active, a:focus {
   -webkit-filter: var(--hover) !important;
   filter: var(--hover) !important;
}

/* Buttons input & labels */

.form-inline .form-control {
   color: var(--text) !important;
   background-color: var(--back1) !important;
}
b.label, .btn, .btn a, a.btn, a.btn:hover, a.btn:active, a.btn:focus, .rev-banking-background a {
   color: var(--btntext) !important;
   border-radius: var(--radius) !important;
}
.nav-pills>li>a, .btn-success {
   color: var(--btntext) !important;
   background-color: var(--btn4) !important;
}
.btn:hover, .btn:active, .btn:focus {
   -webkit-filter: var(--hover) !important;
   filter: var(--hover) !important;
   transition: 0.4s ease-out;
}
.nav-pills>li.active>a, .nav-pills>li.open>a, .nav-pills>li.active>a:hover, .nav-pills>li.open>a:hover, .nav-pills>li>a:hover, .nav-pills>li>a:focus {
   background-color: var(--btn4) !important;
   -webkit-filter: var(--hover) !important;
   filter: var(--hover) !important;
}
.btn.btn-danger, .btn.btn-danger:active, .btn.btn-danger.active, .open>.dropdown-toggle.btn.btn-danger, .progress-bar-danger {
   background-color: var(--btn1) !important;
   border-color: var(--btn1) !important;
}
.btn.btn-info, .btn.btn-info:active, .btn.btn-info.active, .open>.dropdown-toggle.btn.btn-info, .btn.btn-default, .btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default.active, .open>.dropdown-toggle.btn.btn-default, .progress-bar-info {
   background-color: var(--btn2) !important;
   border-color: var(--btn2) !important;
}
.btn.btn-inverse, .btn.btn-inverse:active, .btn.btn-inverse.active, .open>.dropdown-toggle.btn.btn-inverse {
   background-color: var(--btn3) !important;
   border-color: var(--btn3) !important;
}
.btn.btn-primary, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
   background-color: var(--btn4) !important;
   border-color: var(--btn4) !important;
}

/* Select input */

.select-default .select2-choice, .select-default .select2-choice:hover, .select-default .select2-choice.hover, .select-default .select2-choice:focus, .select-default .select2-choice:active, .select2-drop .select2-result-selectable .select2-result-label:focus, .select2-drop .select2-result-selectable .select2-result-label:hover, .select2-drop .select2-result-selectable .select2-result-label:active {
   background-color: var(--btn4) !important;
   color: var(--btntext) !important;
}
.select2-drop .select2-result-selectable .select2-result-label, .dropdown-menu>li>a, .yamm-content li>a {
   color: var(--text) !important;
}
.select-primary .select2-choice:hover, .select-primary .select2-choice.hover, .select-primary .select2-choice:focus, .select-primary .select2-choice:active, .select-primary .select2-choice, .select2-drop .select2-highlighted>.select2-result-label {
   background-color: var(--btn4) !important;
   color: var(--btntext) !important;
}
.select2-chosen {
   color: var(--btntext) !important;
}
nav .iconic:before {
   color: var(--text) !important;
   opacity: 0.2;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
   background-color: var(--btn4) !important;
   color: var(--btntext) !important;
}

/* Checkbox & switch btn */

.checkbox input[type="checkbox"].custom-checkbox:checked+.icons .icon-checked, .radio input[type="checkbox"].custom-checkbox:checked+.icons .icon-checked, .checkbox input[type="radio"].custom-radio:checked+.icons .icon-checked, .radio input[type="radio"].custom-radio:checked+.icons .icon-checked {
   background-color: var(--btn4) !important;
}
.inv-switcher a, .item-group-switcher a, .search-switcher a {
   background-color: var(--btn4) !important;
   color: var(--btntext) !important;
}
.inv-switcher .active, .search-switcher .active, .toggle-chat-button {
   background-color: var(--btn2) !important;
   color: var(--btntext) !important;
}

/* comments mention & page navigation */

.user-mention, .user-mention:visited, .user-mention:focus, .user-mention:hover {
   background-color: var(--btn4) !important;
   border-color: var(--btn4) !important;
}
.pagination>ul, .dataTables_paginate>ul {
   background: var(--back2) !important;
}
.pagination li.active>a, .pagination li.active>span, .dataTables_paginate li.active>a, .dataTables_paginate li.active>span {
   background-color: var(--btn4) !important;
   border-color: var(--btn4) !important;
}
.pagination li>a, .pagination li>span, .dataTables_paginate li>a, .dataTables_paginate li>span {
   border-color: var(--border) !important;
}
.pagination li>a:hover, .pagination li>span:hover, .pagination li>a:focus, .pagination li>span:focus, .dataTables_paginate li>a:hover, .dataTables_paginate li>span:hover, .dataTables_paginate li>a:focus, .dataTables_paginate li>span:focus {
   background-color: var(--btn4) !important;
   border-color: var(--btn4) !important;
}

/* Infos box */

.tooltip-inner {
   background-color: var(--btn3) !important;
}
.tooltip.top .tooltip-arrow {
   border-top-color: var(--btn3) !important;
}
.tooltip.bottom .tooltip-arrow {
   border-bottom-color: var(--btn3) !important;
}
.tooltip.left .tooltip-arrow {
   border-left-color: var(--btn3) !important;
}
.tooltip.right .tooltip-arrow {
   border-right-color: var(--btn3) !important;
}
.bg-info {
   background-color: transparent !important;
}

/* Main page & navbar */

.welcome {
   overflow: hidden;
   position: relative;
}
.welcome::before {
   content: "";
   background: var(--back1) !important;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   opacity: 0.45;
}
.welcome-button {
   border: 2px solid var(--text) !important;
   color: var(--text) !important;
}
.bank-selector-box a:hover, .bank-selector-box a:active, .bank-selector-box a:focus {
   filter: none;
   -webkit-filter: none;
}
.welcome, .welcome-status a {
   color: var(--text) !important;
}
.welcome-status a:hover, .welcome-status a:focus {
   color: var(--btn4) !important;
}
.navbar-default, .flat-slate {
   background-color: var(--back1) !important;
}
.dropdown-menu, .select2-drop {
   background-color: var(--back2) !important;
}
.navbar-nav>li>a:not(.nav-userdropdown):hover, .navbar-nav>li>a:not(.nav-userdropdown):focus, .navbar .nav ul a:hover {
   color: var(--btntext) !important;
   background-color: var(--btn4) !important;
}
.navbar-default .navbar-nav>li>a {
   color: var(--text) !important;
}

/* Logo */

.svg {
   width: 171px;
   padding: 8px 12px;
   display: block;
   transition: filter, -webkit-filter 0.4s ease-out;
}
.svg:hover {
   -webkit-filter: var(--hover) !important;
   filter: var(--hover) !important;
}
@media (max-width: 991px) {
   .small-logo {
      display: none;
   }
   nav> div.container {
      width: 100% !important;
   }
}
@media (max-width: 910px) {
   .svg {
      width: 140px;
      padding: 10px 2px 0;
   }
   #navbar-collapse-01> ul:nth-child(1)> li:nth-child(3) {
      display: none;
   }
}

/* Raffle page, ( panel, panel-heading etc) */

#raffles-list .panel-left {
   background-color: #2A2826;
   border-right: 1px solid var(--border) !important;
}
.breadcrumb li, .breadcrumb li::after {
   color: var(--text) !important;
}
.panel, .well, .form-control, .panel-info>.panel-heading {
   color: var(--text) !important;
   background-color: var(--back1) !important;
   border-color: var(--border) !important;
}
.panel-raffle, .panel-info>.panel-heading, .panel-raffle .panel-heading {
   color: var(--btn2) !important;
   background-color: var(--back2) !important;
   border-color: var(--border) !important;
}
.panel-heading h3 {
   color: var(--btn2) !important;
}
.raffle-box-row, .raffle-info-col, .raffle-opts-row, .breadcrumb {
   color: var(--text) !important;
   background-color: var(--back2) !important;
   border-color: var(--border) !important;
}
.raffle-message:not(.raffle-entered-msg) {
   opacity: 0;
   transition: opacity 0.4s ease-out;
}
.raffle-message:not(.puzzle) {
   color: var(--text) !important;
   background-color: var(--back2) !important;
   border-color: var(--border) !important;
}
.raffle-message.puzzle {
   color: #2A2826 !important;
   background-color: #F7F9FA !important;
   border-color: var(--border) !important;
}
.raffle-entered-msg {
   background-color: var(--enterMsgColor) !important;
}
.raffle-box-row, .raffle-info-col, .raffle-opts-row .col-xs-7, .raffle-commenters, .input-group-btn .btn, .raffle-index-list {
   border-color: var(--border) !important;
}
.raffle-commenters .comment-container {
   border-top-color: var(--border) !important;
}

/* Profile */

.profile-about {
   border-color: var(--border) !important;
   color: #d0d0d0;
}
.profile-stat, .profile-stat:not(:last-child) {
   border-color: var(--border) !important;
   color: #919191;
}

/* help */

.help-bg, .tab-content {
   background-color: var(--back1) !important;
   border-color: var(--border) !important;
}
.label-info, .label-info[href] {
   background-color: var(--btn2) !important;
   color: var(--btntext) !important;
}

/* Avatars */

.avatar-container img {
   border-radius: var(--avatarBorders) !important;
}
.avatar-hat{
  background-color: transparent !important;
}

/* Modal */

.modal-content, .modal-header {
   background-color: var(--back1) !important;
   border-color: var(--border) !important;
}
.modal-footer {
   background-color: var(--back2) !important;
}
.modal-header .close {
   color: var(--text) !important;
}
.fullpage-well {
   background: var(--back1) !important;
}
.flat-dialog-inside, #Content {
   background: var(--back2) !important;
   color: var(--text) !important;
   border-color: var(--border) !important;
}

/* Table */

.table-bordered, .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td, .table>tbody>tr>td, .table th {
   border-color: var(--border) !important;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th {
   color: var(--btn3);
}
td div div {
   color: var(--btntext) !important;
   background-color: var(--btn4) !important;
}
td div div div:first-child {
   background-color: var(--btn1) !important;
}
td div div div:last-child {
   background-color: var(--btn4) !important;
}

/* Help center & About */

.jumbotron {
   background-color: transparent !important;
}
.panel-success>.panel-heading, .panel-danger>.panel-heading {
   background-color: var(--back2) !important;
   border-color: var(--border) !important;
}
.panel-success>.panel-heading {
   color: var(--btn4) !important;
}
.panel-danger>.panel-heading {
   color: var(--btn1) !important;
}
.panel-info>.panel-heading+.panel-collapse>.panel-body {
   border-color: var(--border) !important;
}
.user-helper {
   background: var(--back2);
}
.about-inside * {
   color: #ddd !important;
}
